body {
  background-color: azure;
}

header {
    width: 100%;
    margin: 6em 0;
}

h1 {
  color: black;
  text-align: center;
  font-family: 'Arvo', serif;
  padding-top: 100px;
}

h4 {
  color: #fa5b3d;
  text-align: center;
  font-weight: 400;
}

/* content */

#content {
    min-height: 100%;
    position: relative;
    top: 50px;
}

#container {
    margin: 0 auto;
    max-width: 60em;
    width: 60%;
    height: 100px;
    padding-bottom: 10em;
    overflow-y: scroll;
    overflow-x: hidden;
}
 /*scrollb bar*/

 ::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: azure; 
}

::-webkit-scrollbar-thumb {
  background: #fa5b3d; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(12, 12, 12); 
}

p {
  font-style: italic;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  border-bottom: 2px solid #fa5b3d;
}


/*footer*/

footer {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}