body {
  background-color: azure;
}

h1 {
  color: black;
  text-align: center;
  font-family: 'Arvo', serif;
  padding-top: 20px;
}

h4 {
  color: #fa5b3d;
  text-align: center;
  font-weight: 400;
}

/* content */

#content {
    min-height: 100%;
    position: relative;
    top: 10px;
}

#container {
    margin: 0 auto;
    max-width: 60em;
    width: 60%;
    padding-bottom: 10em;
    overflow-y: scroll;
    overflow-x: hidden;
}
 /*scrollb bar*/

 ::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: azure; 
}

::-webkit-scrollbar-thumb {
  background: #fa5b3d; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(12, 12, 12); 
}

p {
  font-style: italic;
}

a {
  text-decoration: none;
  color: black;
}

/*a, a > span {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;}
a:before, a:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
}
.effect-1 {
  padding-top: 10px;
}
.effect :before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: darken(#0BAAD4, 10%);
    transform:  scaleX(0);
  }
.effect:hover:before {
    transform:  scaleX(1);
  }*/

a:hover{
  border-bottom: 2px solid #fa5b3d;

}


/*footer*/

